.wpd-rowLine1{
    padding: 8px 16px!important;
}

.wpd-padding-col{
    padding: 16px 16px!important;
}

.wpd-padding-blank{
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    background-color:#ffffb3!important;
}

.wpd-padding{
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    background-color:#28a745!important;
}